@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');







body {
    background-color: rgb(0, 0, 0);
    margin:50px 0px; padding:0px;
    text-align:center;
    align:center;
}

a:hover {
    color: white;
}


#bottom-nav-bar {
    font-size: 20px;
    font-family: 'Bebas Neue';
    color: rgb(194, 0, 0);
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;


}

.nav-link-bottom {
    color: rgb(165, 0, 0);
    position: absolute;
    text-align: center;
    bottom: 0;
    margin-top: 20px;
}

.bg-bottom {
    position: absolute;
    text-align: center;
    bottom: 0;
}


#main-logo {
    font-family: 'Bebas Neue';
    font-size: 70px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: bold;
    text-decoration: none;
    color: rgb(194, 0, 0);
    text-shadow: 3px 3px #000;
}

.submit-info {
    color: rgb(255, 255, 255);
    background-color: rgb(165, 0, 0);
}

.bg {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 15;
    right: 0;

}

::placeholder {
    color: rgb(211, 168, 168);
}
form{
    margin: auto;
    display: flexbox;

}
img{
    max-width: 100%;
    height: auto;
}
.main-content{
    top: 500px;
    text-align: center;
    border-radius: 30%;
    width: 600px;
    height: 400px;
    border: 7px solid silver;
}


h3{
    font-family: 'Bebas Neue';
    font-size: 60px;
    color: #fff;  
}
h4{
    font-family: 'Bebas Neue';
    font-size: 50px;
    color: #fff;  
    margin-block-start: 1em !important;
    margin-block-end: 0em;
} 
h5{
    font-family: 'Bebas Neue';
    font-size: 40px;
    color: rgb(253, 9, 9); 
    margin-block-start: 0em !important;
    margin-block-end: 0em;

}   
h6{
    font-family: 'Bebas Neue';
    font-size: 35px;
    color: #fff; 
    text-decoration: underline;
    margin-block-start: 0em !important;
    margin-block-end: 0em;


}





p{
    font-family: 'Bebas Neue';
    font-size: 30px;
    color: #fff;  
}   
.nav-link-packages{
    font-family: 'Bebas Neue';
    font-size: 30px;
    color: #fff;    
    text-decoration: none;
    background-color: rgba(143, 0, 0, 0.514);
    border-radius: 10%;
    padding: 7px;
    border-style: none;
    
}
.foot{
position:absolute bottom;
left:0px;
bottom:0px;
height:30px;
width:100%;
background:none;
text-align: center;
}
.Packages, .contact{
    font-family: 'Bebas Neue';
    font-size: 30px;
    color: rgb(194, 0, 0); 
    text-decoration: ;
    padding: 7px;
    border-style: none;   
}

/* packages */

.pak1, .pak2, .pak3{
    top: 500px;
    text-align: center;
    border-radius: 20%;
    width: 350px;
    height: 625px;
    border: 10px double silver;
    background-color:rgb(14, 14, 14);
    margin-bottom: 50px;
}
.silver, .gold, .platinum{
    font-family: 'Bebas Neue';
    font-size: 20px;
    color: #fff;    
    text-decoration: none;
    text-align: left;
}   
.container-pak{
display: flex;
flex-direction: row;
margin-top: 100px

}
.nav-link-pak1, .nav-link-pak2, .nav-link-pak3{
    font-family: 'Bebas Neue';
    font-size: 40px;
    color: #fff;    
    text-decoration: none;
    background-color: rgba(143, 0, 0, 0.514);
    border-radius: 10%;
    padding: 7px;
    border-style: none;
    
 
}

/* packages */

.call-us, .live-chat, .email{
    font-family: 'Bebas Neue';
    font-size: 30px;
    color: #fff;    
    text-decoration: none;
    background-color: rgba(78, 78, 78);
    border-radius: 5%;
    padding: 7px;
    border-style: groove;
    border-color: rgb(185, 176, 176);
display: inline-flexbox;
    margin-right: 50px;
    margin-top: 00px;
}
.marT{
    margin-top: 10px;
}
.select1{
position: relative;
top: 120px;
     
    }

.select2{
position: relative;
top: 70px;
     
    }

.select3{
position: relative;
top:;
     
    }
    .contact-bubble{
    background-color: rgb(12, 12, 12);
    border-radius: 10%;
    padding: 7px;
    border-style: none;
    width: 700px;
    height: 350px;
    margin-bottom: 50px;

}
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    body{
        background-color:;
    }
    .bg input{
        width: 25%;
    }
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    body{
        background-color:;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }